html{
    font-size: 10px;
    background: lightsteelblue;
    background-size: cover;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

.buttons {
    display: flex;
    flex: 1;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.button{
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px;
}

#score-label,
#score-container{
    text-align: center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.score{
    font-size: 80px;
    padding: 0 40px;
    pointer-events: none;
}

.label{
    font-size: 30px;
    margin-top: 80px;
    padding: 0 40px;
    pointer-events: none;
}